.navbar-default {
  background-color: #8cb3d9;
  border-color: #8e44ad;
  border-radius:0px;
  margin:0px;
  border:none;
}
.navbar-default .navbar-brand {
  color: #111111;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #d3b8f9;
}
.navbar-default .navbar-text {
  color: #111111;
}
.navbar-default .navbar-nav > li > a {
  color: #111111;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d3b8f9;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d3b8f9;
  background-color: #8e44ad;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #d3b8f9;
  background-color: #8e44ad;
}
.navbar-default .navbar-toggle {
  border-color: #8e44ad;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #8e44ad;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #111111;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #111111;
}
.navbar-default .navbar-link {
  color: #111111;
}
.navbar-default .navbar-link:hover {
  color: #d3b8f9;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #111111;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d3b8f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d3b8f9;
    background-color: #8e44ad;
  }
}
.container-fluid{
	background-color:rgba(0,0,0,0.5);
}
.white{
	background-color:#ffffff;
}
.hero{
	height:43vw;
	
}
.no-pad{
	padding:0px;
}
.pad{
	height:2vw;
	width:100%;
}
.back{
	background:rgba(0,0,0,0.4);
	padding:0px;
	width:100%;
}
.hero-container{
	height:36vw;
	width:55vw;
	margin-left:20vw;
	background-image:url(../images/bannana.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	margin-right:0px;
}
.hero-text-container{
	padding-top:6.5vw;
	font-family:raleway;
	width:80%;
	margin:0 auto;
}
@media (max-width:691px) {
	div.hero-text-container{
		width:100%;
	}
}
.hero-text{
	color:white;
	text-align:center;
	font-weight:bold;
	line-height:50px;
	border-radius:15px;
	text-shadow:1px 1px rgba(0,0,0,0.2);

}
.hero-text div{
	font-weight:100;
}
.grad{
	background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5));
	height:5vw;
}
.wire{
	height:45vh;
	border:1px solid black;
	background-color:#722;
}
.no-height{
	height:auto;
}
h2.white{
	text-align:center;
}
.white{
	color:white;
	background-color:#722;
	text-shadow:1px 1px rgba(0,0,0,0.2);
}
.img{
	height:45vh;
	background-color:green;
	border:1px solid black;
}
.contact{
	height:45vh;
	background-color:#33c;
	border:1px solid black;
}
.foot{
	background:#ff0;
	height:15vh;
	border:1px solid black;
}