.navbar-default {
  background-color: #494;
  border-radius:0px;
  margin:0px;
  border-bottom:1px solid black;
  border-top:#494;
  border-left:#494;
  border-right:494;
}
.navbar-default .navbar-brand {
  color: #111111;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #d3b8f9;
}
.navbar-default .navbar-text {
  color: #111111;
}
.navbar-default .navbar-nav > li > a {
  color: #111111;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d3b8f9;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d3b8f9;
  background-color: #8e44ad;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #d3b8f9;
  background-color: #8e44ad;
}
.navbar-default .navbar-toggle {
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #8e44ad;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #111111;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #333;
}
.navbar-default .navbar-link {
  color: #111111;
}
.navbar-default .navbar-link:hover {
  color: #d3b8f9;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #111111;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d3b8f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d3b8f9;
    background-color: #8e44ad;
  }
}
.white{
	background-color:#ffffff;
}
.no-pad{
	padding:0px;
}
.hero{
	background-image:url(../images/Hero.jpg);
	height:70vh;
	background-repeat:no-repeat;
	background-size:cover;
}
.hero-text-container{
	width:100%;
	margin-left:0%;
	padding-top:15vh;

}
.hero-text{
	font-family:roboto;
	color:white;
	text-align:center;
	font-weight:bold;
	line-height:70px;
	border-radius:15px;
	text-shadow:3px 3px 4px black;
	margin:0px;
	font-size:40px;

}
.hero-text div{
	font-weight:100;
}
.grad{
	height:13px;
	border-bottom:1px solid black;
	background-color:rgba(0,0,0,0.6);
}
.border{
	border-bottom:1px solid #444455;
	background-color:#333;
}
.wire{
	height:45vh;
	padding-top:10vh;
	border-bottom:1px solid #444455;
	background-color:#333;
}
.no-height{
	height:auto;
	padding-top:0px;
	border:none;
	background:none;
}
h2.white{
	text-align:center;
}
.white{
	color:white;
	background:none;
	text-shadow:3spx 3px 3px rgba(0,0,0,0.2);
}
a.white:visited{
	text-decoration:none;
	color:#fff;
}
a.white:hover{
	text-decoration:none;
	color:#888;
}
.prof-image{
	height:25vh;
}
.col-md-3.about.no-pad:first-of-type{
	padding-left:8%;
	padding-top:10vh;
	border-right:1px solid #444455;
}
.about{
	height:45vh;
	padding-top:10vh;
	border-bottom:1px solid #444455;
	background-color:#333;
	padding-left:8%;
	padding-right:8%
}
.prof-sm{
	display:none;
}
@media(max-width:991px){
	.prof-image, .prof-img-container{
		display:none;
	}
	.prof-sm{
		display:inline;
		margin:0 auto;
		height:100%;
		display:inline;
	}
	.col-md-3.about.no-pad:first-of-type{
		padding-left:40%;
		padding-top:0px;
		height:50vh;
	}
}
.img-container{
	height:45vh;
	padding:none;
	border-bottom:1px solid #444455;
}
.image{
	width:100%;
	height:100%;
}
.web-ft{
	background-color:#333;
}
.site-img{
	height:30vh;
	background-image:url(../images/Cat.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	border-bottom:1px solid #444455;
}
@media(max-width:991px){
	.site-img{
		margin-left:10%;
		margin-right:10%;
		width:80%;
	}
}
.site-text{
	height:30vh;
	background-color:#333;
	border-bottom:1px solid #444455;
	padding-top:9vh;
}
.site-text p.white{
	text-align:center;
}
@media(max-width:991px){
	.site-img{
		height:50vh;
	}
}
.contact{
	height:45vh;
	background-color:#333;
}
.btn.btn-success{
	margin-top:17vh;
	width:30%;
	margin-left:35%;
}
@media (max-width:991px){
	div.btn.btn-success{
		margin-left:35%;
		width:30%;
		margin-top:15vh;
		font-size:50px;
	}
	.btn h2.white{
		font-size:40px;
		margin-top:15px;
		margin-bottom:15px;
	}
}
h2.white{
	margin-top:0px;
	background:none;
	margin-bottom:10px;
}
.btn.btn-success h2.white{
	margin-top:10px;
	margin-bottom:10px;
}
p.white{
	background:none;
	margin-top:0px;
	margin-bottom:12px;
}
.foot{
	background-color:#494;
	height:15vh;
	border:1px solid #444;
}
.foot p{
	color:#000;
}
.container-fluid.form{
	background-color:#999;
	padding-top:5vh;
}
@media (min-width:991px) {
	.form-container{
		width:70%;
	}
}